.venv/
venv/
__pycache__/
*.pyc
.env
*.env
.env.example
*.log
logs/
dbt/logs/
dbt/target/
dbt/dbt_packages/
dbt/.user.yml
dbt/package-lock.yml
.pytest_cache/
.coverage
htmlcov/
.terraform/
*.tfstate
*.tfstate.backup
.vscode/
.idea/
.DS_Store
