terraform {
  backend "s3" {
    bucket         = "company-terraform-state"
    key            = "erp-snowflake/${var.environment}/terraform.tfstate"
    region         = "eu-central-1"
    dynamodb_table = "terraform-locks"
    encrypt        = true
  }
}
